# init file
.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode

# trial
trial/
demo.ipynb
data_check.py
check_train_result.py
sample/
data/test2/
model_chainer.py
model2.chainer.py
train_chainer.py
infer_chainer.py
check_infer.ipynb

# large files
data/train/
data/pickles/don_inference.pickle
data/pickles/ka_inference.pickle
data/pickles/test_data.pickle
data/pickles/train_data.pickle
data/log/

# util
infer.sh
train.sh
files/img/
files/demo/
plot.py

# ignore
.gitattributes